*{
    box-sizing: border-box;
    font-family: ChaletNewYorkNineteenSeventy;
}
@font-face {
    font-family: ChaletNewYorkNineteenSeventy;
    src: url(/TinderComponents/Fonts/ChaletNewYorkNineteenSeventy.ttf);
}
:root{
    --electric-pink: #FD297B;
    --pastel-red: #FF655B;
    --fiery-rose: #FF5864;
}
body{
    overflow-x: hidden;
}
main{
    width: 400px;
}
main > div{
    min-height: 100%;
}
.preference-page{
    display: none;
}
.purpose-page{
    display: none;

}
.imageUpload-page{
    height: auto;
    display: none;
}
main> div>p{
    font-size: 0.825em;
}
.birthday-input{
    width: calc(0.825em + 1.5vw);
    outline: 0;
    border: 0;
    border-bottom: 2px solid;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.upload-image{
    width: 100px;
    background-color: #d3d3d362;
    height: 150px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23C0C0C0FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}
input[type="file"]{
    display: none;
}
.upload-button,.cancel-button{
    width: 25px;
    height: 25px;
    bottom: -5px;
    right: -5px;
    background-color: orangered;
    transition: transform 400ms;
}
.cancel-button{
    border: 1px solid gray;
    color: gray;
    background-color: lightgrey;
}
.upload{
    width: 100%;
    height: 100%;
}
.uploaded .cancel-button{
    z-index: 2;
}
.image{
    border-radius: 10px;
    width: 100px;
    height: 150px;
    object-fit: cover;
}
.box{
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, blue,green);
    border-radius: 50%;
    opacity: 0;
    transition: 300ms;
}
body:hover .box{
    opacity: 1;
}
.purpose{
    position: relative;
    background-color: rgb(235, 239, 240);
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
.purpose::before{
    content: '';
    position: absolute;
    background: linear-gradient(to right,var(--electric-pink),var(--pastel-red));
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: -2px;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
}
.purpose.selected-purpose::before{
    opacity: 1;
}
#Next0,#Next1{
    background: #d3d3d381;
    font-weight: 700;
    color: #424242;
    border: 0;
}
.preference-wrapper{
    border-top: 1px solid;
}
.preference-wrapper>*{
    font-size: 0.825em;
    margin-right: 4px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 8px;
}
.preference-wrapper>*::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    z-index: -1;
    margin: -2px;
    background-color: #42424242;
}
.preference-wrapper>.selected-preference::before{
    background: linear-gradient(to right,var(--electric-pink),var(--pastel-red));
}
.minLimit{
    background: linear-gradient(30deg,var(--electric-pink),var(--pastel-red)) !important;
    color: white !important;
}
.backIcon>i{
    font-size: 2.5em;
}

@media (max-width:330px){
    .allImages{
        padding: 5%;
    }

}
@media (max-width:275px){
    .allImages{
        justify-content: center !important;
    }

}